/* Rofi config file */
configuration {
    lines: 12;
    font: "pango:Source Sans Pro 10";
    show-icons: false;
    display-window: "Window";
    display-drun: "Search";
    theme: "~/.cache/wal/colors-rofi-dark";
}